@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cinzel/v11/8vIU7ww63mVu7gtR-kwKxNvkNOjw-tbnfYPlDX5Z.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}



@font-face {
  font-family: 'Baloo Bhaijaan 2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/baloobhaijaan2/v3/zYXwKUwuEqdVGqM8tPDdAA_Y-_bMKo1EhQd2tWxo8TyRSpP_JYs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Amita';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/amita/v9/HhyaU5si9Om7PTloC_U.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
	//toscroll page

	 //display: grid;
  //grid-template-columns: auto auto;
}
 
p{
	text-indent: 50px;

line-height: 1.2;

}
.sticky {
z-index: 1;
  position: sticky;

top: 0px;   
  padding: 5px;
  //background-color: #cae8ca;
  //border: 2px solid #4CAF50;
}

nav ul {
	list-style-type: none;

	margin: 0;
	padding: 0;
	overflow: hidden;
	//background-color: white;
	display: table;
	width: 100%;
	font-family:Amita,Georgia, serif;
	font-size: 22px;
	text-transform: uppercase;

}

nav li {
	display: table-cell


}

li a {
	display: block;
	 color: #fff;
	text-align: center;
	//padding: 10px 10px;
	background: #428BCA;
	text-decoration: none;
  border: 1px solid #0AFFFF;
  border-radius: 30px;
  opacity: 1;
}

li a:hover {
	//background-color: #0AFFFF; 
 opacity: 0.85;
    border: 5px solid #20B2AA;
}  

h2 a {
	padding: 33px 25px;
	color: white;
	text-decoration: none;
}

h2 a:hover {
	background-color: #111;
}

figcaption{
  text-align:center;

	font-size: 36px;
  font-family:Brush Script MT, Brush Script Std,Georgia, serif;
}

header {
	margin-left: 14px;
}

article {
	text-align: justify;
	margin: 15px;
	max-width: 95%;
	font-size: 22px;
	line-height: 40px;
font-family:'Baloo Bhaijaan 2',Georgia, serif;
}

h3, h2 ,p  {

font-family:'Baloo Bhaijaan 2',Georgia, serif;
}

img {
	width: 400px;
	height: 300px;
  position:relative;
  right:28px;
}

aside {
	//left: 30px;
	border: 5px solid black;

	 width: 95%;

	//position: relative;
	//position: sticky ;
	border-color: #010e80;
	//border-width: 5px;
	border-style:   double;
	font-size: 18px;
}
 

 

footer {
	position: relative;
	width: 100%;
	bottom: -100px;
	background-color: #16E2F5;

	font-size: 25px;
font-family:Courier New, monospace,Georgia, serif;
}

footer p {
	color: black;
	text-decoration: none;
	padding: 10px;
	text-align: center;
	width: 100%;
	box-sizing: border-box;
}

footer a {
	color: white;
	text-decoration: none;
	text-align: center;
	width: 100%;
}

video {
	display: block;
	width: 800px;
  padding:15px;

  margin: auto;
}

audio {
	padding: 15px;
	width: 98%;
  box-sizing: border-box;
}

embed {
	width: 400px;
	height: 458px;
  padding:15px;
}

table,th,
td {
    border: 1px solid #333;
 padding: 10px;
	margin: 30px;
}

thead, 
tfoot {
    background-color: #333;
    color: #fff;
}

#myCanvas {
	border:5px  indianred;
	border-style: dotted solid;
	border-radius: 30px;
	  background-color: rgba(0,0,0,.35);
	   //padding: 40px 40px;
	height: 50px;
	//width: 90%;
	margin-top: 40px;
}

.banner {
	height: 500px;  
display: flex;
 
 //align-items: center;
  justify-content: center;
	background-color: greenyellow;
	background-image: url("../media/banner.jpg");

        transition: opacity .5s linear;
  //-webkit-background-size: cover;
  //-moz-background-size: cover;
  //-o-background-size: cover;
	 background-size: cover; 


}

 
#mapimage{
	//margin-left: 0 auto;
	margin 0 auto;
	display: flex;
	justify-content: center; 
}
.map-img {
display: inline-block;
	
	//align-items: center;
	//left: 20%;
	//display: flex;
	//justify-content: center;
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	width: 1000px;
	height: 800px;
  padding:auto; 
  
}

.faq_ans {
 	
	 margin-top: -30px;
	 margin-left: 20px;
}

div.imgpolaroid {
  //width: 20%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	max-width: 500px;
  box-sizing: border-box;
  width: 31%;
  height: 20%;
  //border: 3px solid;
  margin-bottom: 25px;
  //height: 600px;
  overflow: hidden;
  //padding:0 auto;
  //padding: 10px 40px;
  margin-right: 20px;
  //padding-right: 105px;
  display: inline-block;
}

img.imgfile{
	//border: solid 5px;
	 width: 100%;
	// margin-top:  40px;
margin-left: 30px;
object-fit: scale-down;
}

div.imgcontainer {
	width: auto;
	//padding-right: -30px;
	//margin-right: -70px;
	//margin-left: 10px;
	margin: 0px 10px;
  text-align: justify; 
line-height: 1.4;
}
 

.img_descrip{
	//border: solid 5px;
	margin-top : -10px ;
	margin-bottom: -5px;
}




<!--from codecademy  -->

* {
  box-sizing: border-box;
}

colorcity {
  /*font-family: Helvetica, sans-serif;*/
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer {
  /*font-family: Helvetica, sans-serif;*/
  font-family:Brush Script MT, Brush Script Std, cursive;
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(32, 64, 86);
  color: rgb(32, 64, 86);
  transition: background-color 0.2s, color 0.2s;
}

.button:hover {
  cursor: pointer;
  background-color: rgb(32, 64, 86);;
  color: white;
  transition: background-color 0.2s, color 0.2s;
}

